

<!DOCTYPE html>
<html lang="en">
  <head>
	<meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="Beatspring | Crowd-Funding Local Music">
    <meta name="author" content="www.rdshipley.com">
	<meta property="og:title" content="Beatspring | Crowd-Funding Local Music" />
    <meta property="og:description" content="Crowd-Funding Local Music" />
    <meta property="og:image" content="" />
    <meta name="twitter:card" content="Crowd-Funding Local Music">
    <meta name="twitter:creator" content="@HelloBeatspring">
    <meta name="twitter:url" content="http://beatspring.com">
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <link rel="shortcut icon" href="assets/ico/favicon.ico">
	<link href='http://fonts.googleapis.com/css?family=Open+Sans:400,600,700' rel='stylesheet' type='text/css'>
    <title>Beatspring | Crowd-Funding Local Music</title>

    <!-- Bootstrap core CSS -->
    <link href="dist/css/bootstrap.min.css" rel="stylesheet">


    <!-- Custom styles for this template -->
    <link href="dist/css/custom_styles.css" rel="stylesheet">
  </head>
<body>

    <div class="site-wrapper">

      <div class="site-wrapper-inner">

        <div class="cover-container">

          <div class="masthead clearfix">
              <div class="masthead-brand"><img src="dist/img/beatspring_logo.svg"></div>
          </div>

          <div class="cover">
          
            <h1 class="cover-heading">Privacy Policy.</h1>
            <p class="lead">This privacy policy discloses the privacy practices for beatspring.com. This privacy policy applies solely to information collected by this web site. It will notify you of the following:

<p class="lead">What personally identifiable information is collected from you through the web site, how it is used and with whom it may be shared.</p><br>
<p class="lead">What choices are available to you regarding the use of your data.</p>
<p class="lead">The security procedures in place to protect the misuse of your information.</p>
<p class="lead">How you can correct any inaccuracies in the information.</p>
<p class="lead">Information Collection, Use, and Sharing </p>
<p class="lead">We are the sole owners of the information collected on this site. We only have access to/collect information that you voluntarily give us via email or other direct contact from you. We will not sell or rent this information to anyone.</p>

<br>

<p class="lead">We will use your information to respond to you, regarding the reason you contacted us. We will not share your information with any third party outside of our organization, other than as necessary to fulfill your request, e.g. to ship an order.</p>

<p class="lead">Unless you ask us not to, we may contact you via email in the future to tell you about specials, new products or services, or changes to this privacy policy.</p>

<p class="lead">Your Access to and Control Over Information </p>
<p class="lead">You may opt out of any future contacts from us at any time. You can do the following at any time by contacting us via the email address or phone number given on our website:</p>

   <p class="lead">• See what data we have about you, if any.</p>

   <p class="lead">• Change/correct any data we have about you.</p>

   <p class="lead">• Have us delete any data we have about you.</p>

   <p class="lead">• Express any concern you have about our use of your data.</p>
<br>

<p class="lead">Security </p>
<p class="lead">We take precautions to protect your information. When you submit sensitive information via the website, your information is protected both online and offline.</p>

<p class="lead">Wherever we collect sensitive information (such as credit card data), that information is encrypted and transmitted to us in a secure way. You can verify this by looking for a closed lock icon at the bottom of your web browser, or looking for "https" at the beginning of the address of the web page.</p>

<p class="lead">While we use encryption to protect sensitive information transmitted online, we also protect your information offline. Only employees who need the information to perform a specific job (for example, billing or customer service) are granted access to personally identifiable information. The computers/servers in which we store personally identifiable information are kept in a secure environment.</p>

<br>

<p class="lead">Updates</p>

<p class="lead">Our Privacy Policy may change from time to time and all updates will be posted on this page.</p>

<br>

<p class="lead">If you feel that we are not abiding by this privacy policy, you should contact us immediately via telephone at (512) 829-8991 or via email.</p>
   
          </div><!--End cover-->

        </div>

          <div class="mastfoot">
              <p>Built in Austin with ♥</p><p> <a href="index.html">Back to Homepage</a></p>
          </div>
      </div>

    </div>

    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
    <script src="dist/js/bootstrap.min.js"></script>
    <script src="assets/js/docs.min.js"></script>
    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
    <script src="assets/js/ie10-viewport-bug-workaround.js"></script>   
<script type='text/javascript' src='//s3.amazonaws.com/downloads.mailchimp.com/js/mc-validate.js'></script><script type='text/javascript'>(function($) {window.fnames = new Array(); window.ftypes = new Array();fnames[0]='EMAIL';ftypes[0]='email';fnames[1]='FNAME';ftypes[1]='text';fnames[2]='LNAME';ftypes[2]='text';}(jQuery));var $mcj = jQuery.noConflict(true);</script>


  </body>
</html>
